.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    border: none;
    border-radius: 5px;
    background-color: hsl(219, 85%, 26%);
    cursor: pointer;
}

.boton p{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    color: hsl(205, 33%, 90%);
}