.contenedor-usuarios {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.contenedor-usuarios img {
    width: 40px;
    height: 40px;
    padding-right: 10px;
}

.nombre-usuario {
    padding-right: 5px;
    display: inline-block;
    color: hsl(224, 21%, 14%);
    cursor: pointer;
}

.notificacion-ususario {
    display: inline;
    color: hsl(219, 12%, 42%);
}

.fecha-usuario {
    color: hsl(219, 14%, 63%);
}

.contenedor-texto-usuarios p {
    font-size: 0.85em;
}

.grupo, .strong {
    color: hsl(219, 12%, 42%);
    cursor: pointer;
}

.grupo:hover, .strong:hover, .nombre-usuario:hover {
    color: hsl(219, 85%, 26%);
}

.punto-vacio {
    width: 8px;
    height: 8px;
    background-color: hsl(1, 90%, 64%);
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    display: none;
}

.punto-rojo {
    width: 8px;
    height: 8px;
    background-color:hsl(1, 90%, 64%);
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}
